- if video_recordings.present?
  %h3 Video
  %ul
    - video_download_sources(video_recordings).each do |recording|
      %li
        %span.label.filetype= "#{recording.filetype} #{recording.language}"
        %a{href: recording.url, download: true}
          %span.fa.fa-download
          http download
        %a{href: recording.torrent_url, download: true}
          %span.fa.fa-download
          torrent

- if audio_recordings.present?
  %h3 Audio
  %ul
    - audio_recordings.each do |recording|
      %li
        .label.filetype= "#{recording.filetype} #{recording.language}"
        %a{href: recording.url, download: true}
          %span.fa.fa-download
          http download
        %a{href: recording.torrent_url, download: true}
          %span.fa.fa-download
          torrent

- if subtitle_recording.present?
  %h3 Subtitle
  %ul
    %li
      .label.filetype
        srt
      %a{href: subtitle_recording.url, download: true}
        %span.fa.fa-download
          = subtitle_recording.language

%h3 Parent directory
%a{href: conference.recordings_url}
  %span.fa.fa-folder-open
  = conference.recordings_path
