- if video_recordings.present?
  %h3 Video
  %ul
    - video_recordings.each do |recording|
      %li
        %span.label.filetype= recording.filetype
        %span.label.filetype= recording.language
        %a{href: recording.url, download: true}
          %span.icon.icon-download
          http download

- if audio_recordings.present?
  %h3 Audio
  %ul
    - audio_recordings.each do |recording|
      %li
        %span.label.filetype= recording.filetype
        %span.label.filetype= recording.language
        %a{href: recording.url, download: true}
          %span.icon.icon-download
          http download

- if subtitle_tracks.present?
  %h3 Subtitle
  %ul
    - subtitle_tracks.each do |track|
      %li
        .label.filetype
          srt
        %a{href: track.url, download: true}
          %span.icon.icon-download
          = track.language

%h3 Parent directory
%a{href: conference.recordings_url}
  %span.icon.icon-folder-open
  = conference.recordings_path
