.downloads
  - if event.recordings.video.present?
    .row.video
      .col-sm-2.col-md-1
        %h4 Video

      .col-sm-10.col-md-11
        %ul.nav.nav-tabs{role: "tablist"}
          - event.filetypes(MimeType::VIDEO).each_with_index do |(type, display), idx|
            %li{role: "presentation", class: if idx == 0 then 'active' else '' end}
              %a{href: "#"+type, 'aria-controls': type, role: "tab", 'data-toggle': "tab"}
                = display

        .tab-content
          - event.filetypes(MimeType::VIDEO).each_with_index do |(type, display), idx|
            .tab-pane{role: "tabpanel", class: if idx == 0 then 'active' else '' end, id: type}
              - event.videos_for_download(type).each do |file|
                .btn-wrap
                  %a.btn.btn-default.download.hq{href: file.url}
                    .title= 'Download ' + file.height.to_s + 'p'
                    %span.language= file.language
                    - if file.size
                      %span.size= file.size.to_s+' MB'
                    - else
                      %span.codec= display

  - if event.has_translation
    .row.multiaudio-warning
      .col-sm-2.col-md-1
        /
      .col-sm-10.col-md-11
        .well
          %h4 These files contain multiple languages.
          %p
            This Talk was translated into multiple languages. The files available
            for download contain all languages as separate audio-tracks. Most
            desktop video players allow you to choose between them.
          %p
            Please look for "audio tracks" in your desktop video player.

  - if event.recordings.subtitle.present? || @conference.subtitles
    .row.subtitle
      .col-sm-2.col-md-1
        %h4 Subtitles

      .col-sm-10.col-md-11
        - if event.recordings.subtitle.present?
          .content
            - event.subtitles.each do |track|
              %a.btn.btn-default.download.subtitle{href: (track.state == 'todo' \
                  ? "#{event.subtitle_edit_url}##{track.language}" 
                  : track.url), 
                id: track.language, class: track.state, title: track.state}
                .title= track.language
            %a.subtitle.improve{href: event.subtitle_edit_url, target: '_blank'}
              Help us to improve these subtitles!

        - else
          - if ( @conference.metadata && @conference.metadata['subtitles'].present? )
            %a.subtitle.improve{href: event.subtitle_edit_url, target: '_blank'}
              Help us to subtitle this talk!


  - if event.recordings.audio.present?
    .row.audio
      .col-sm-2.col-md-1
        %h4 Audio

      .col-sm-10.col-md-11
        .tab-content
          - event.filetypes(MimeType::AUDIO).each_with_index do |(type, display), idx|
            - @event.audio_recordings_for_download(type).each do |language, recording|
              .btn-wrap
                %a.btn.btn-default.download.audio{href: recording.url, class: language}
                  .title= 'Download ' + type
                  %span.language= language
                  - if recording.size
                    %span.size= recording.size.to_s+' MB'
                  - else
                    %span.codec= display

  - if event.recordings.slides.present?
    .row.slides
      .col-sm-2.col-md-1
        %h4 Slides

      .col-sm-10.col-md-11
        .tab-content
          - event.filetypes(MimeType::SLIDES).each_with_index do |(type, display), idx|
            - @event.slides_for_download(type).each do |language, recording|
              .btn-wrap
                %a.btn.btn-default.download.slides{href: recording.url, class: language}
                  .title= 'Download ' + type
                  %span.language= language
                  - if recording.size
                    %span.size= recording.size.to_s+' MB'
                  - else
                    %span.codec= display
