- if video_recordings.present?
  %h3 Video
  %ul
    - video_recordings.each do |recording|
      %li
        %span.label.filetype= recording.filetype
        %span.label.filetype= recording.language
        %a{href: recording.url, download: true}
          %span.fa.fa-download
          http download

- if audio_recordings.present?
  %h3 Audio
  %ul
    - audio_recordings.each do |recording|
      %li
        %span.label.filetype= recording.filetype
        %span.label.filetype= recording.language
        %a{href: recording.url, download: true}
          %span.fa.fa-download
          http download

- if subtitle_recording.present?
  %h3 Subtitle
  %ul
    %li
      .label.filetype
        srt
      %a{href: subtitle_recording.url, download: true}
        %span.fa.fa-download
          = subtitle_recording.language

%h3 Parent directory
%a{href: conference.recordings_url}
  %span.fa.fa-folder-open
  = conference.recordings_path
