.caption
  %h3
    %a{href: event_path(slug: event.slug)}
      = truncate(event.title, length: 90, separator: ' ', omission: '…')

  - if event.subtitle.present?
    %h4{title: event.subtitle}
      = truncate(event.subtitle, length: 60, separator: ' ', omission: '…')

  - if event.timelens_present?
    %div.timelens{data: {timeline: event.timeline_url, thumbnails: event.thumbnails_url, slug: event.slug, duration: event.duration}}

  %ul.metadata
    - if !event.tags.nil? && event.tags.length > 3 
      %li.tags
        %span.tags
        - event.tags[3,2].each do |tag|
          != link_for(event.conference, tag)
    %li.duration
      %span.icon.icon-clock-o
      = duration_in_minutes(event.duration)
    %li.date
      %span.icon.icon-calendar-o
      = event.display_date
    %li.view-count
      %span.icon.icon-eye
      = event.view_count
    %li.persons
      = render partial: 'frontend/shared/event_persons', locals: { persons: event.persons }