.caption
  %h3
    %a{href: event_path(slug: event.slug)}
      = truncate(event.title, length: 90, separator: ' ', omission: '…')

  - if event.subtitle.present?
    %h4{title: event.subtitle}
      = truncate(event.subtitle, length: 60, separator: ' ', omission: '…')

  - if event.timelens_present?
    %div.timelens{data: {timeline: event.timeline_url, thumbnails: event.thumbnails_url, slug: event.slug, duration: event.duration, lazy: "yes"}}

  %ul.metadata
    - if !event.structured_tags.nil? && event.structured_tags.length > 3
      %li.tags
        %span.tags
        - event.structured_tags[3,2].each do |tag|
          != link_for(event.conference, tag)
    %li.duration.digits
      %span.icon.icon-clock-o
      = duration_in_minutes(event.duration)
    %li.date.digits
      %span.icon.icon-calendar-o
      = event.display_date
    %li.view-count.digits
      %span.icon.icon-eye{title: "#{delimited_views_count(event.view_count)} views"}
      = human_readable_views_count(event.view_count)
    %li.persons
      = render partial: 'frontend/shared/event_persons', locals: { persons: event.structured_persons }
    - if show_conference && event.conference.present?
      .conference
        %a{href: conference_path(acronym: event.conference.acronym)}
          = event.conference.title
