.clappr-player
  .video-wrap{ style: "width 100%; height: 56.25vw;" }


:javascript
  $(function() {
    function deserialize(string) {
      var result = {};
      if (string) {
        var parts = string.split(/&|\?/);
        for (var i = 0; i < parts.length; i++) {
          var part = parts[i].split("=");
          if (part.length === 2)
            result[decodeURIComponent(part[0])] = decodeURIComponent(part[1]);
        }
      }
      return result;
    }

    var $clapprPlayer = $('.clappr-player .video-wrap');
    if($clapprPlayer.length > 0) {
      var sprites = [];


      var player = new Clappr.Player({
        baseUrl: 'assets/clapprio/',
        plugins: [
          ClapprThumbnailsPlugin, DashShakaPlayback, PlaybackRatePlugin, Timelens
        ],
        sources:  #{@event.clappr_sources.to_json.html_safe},
        height: '56.25vw',
        width: '100%',
        poster: "#{@event.poster_url}",
        timelens: {
          timeline: "#{@event.timeline_url}",
          thumbnails: "#{@event.thumbnails_url}"
        },
        scrubThumbnails: {
          backdropHeight: 64,
          spotlightHeight: 84,
          thumbs: sprites
        },
        playback: {
          externalTracks: #{@event.clappr_subtitles.to_json.html_safe}
        },
        events: {
          onReady: function() {
            var playback = player.core.getCurrentContainer().playback;
            var params = deserialize(location.href);

            playback.once(Clappr.Events.PLAYBACK_PLAY, function() {
              var seek = parseFloat(params.t);
              if (!isNaN(seek)) {
                player.seek(seek);
              }
            });
          }
        }
      });
      player.attachTo($clapprPlayer.get(0));
    }
  });
