- content_for :title do
  home

- content_for :body_class do
  page-start

= render 'frontend/shared/promoted'

.container-fluid
  .row
    / Searchbox
    .col-xs-12.col-sm-10.col-sm-push-1.col-md-8.col-md-push-2
      %form.search{role: 'search', action: '/search/', method: 'get'}
        .form-group.has-addon
          .input-group
            %i.input-group-addon.icon-search
            %input.form-control{type: 'search', placeholder: 'Username', name: 'q', placeholder: 'Search'}

        %p.tagline
          #{number_with_delimiter(@events_count, delimiter: ".")} videos in
          #{number_with_delimiter(@conferences_count, delimiter: ".")} events and conferences

    / Buttons
    .col-xs-12.col-sm-8.col-sm-push-2
      .browse-button-bar
        %a.btn.btn-secondary.btn-lg{role: 'button', href: '#tbd'}
          %span.icon.icon-tags
          Popular

        %a.btn.btn-primary.btn-lg{role: 'button', href: browse_start_path}
          %span.icon.icon-th
          All Events

        %a.btn.btn-secondary.btn-lg{role: 'button', href: '#tbd'}
          %span.icon.icon-rss
          Feeds

    / Recently
    .col-xs-12
      %h2 Recently published
      %ul.conferences
        / top 3 conferences, ordered by updated_at (also triggered by event change)
        / FIXME: should be ordered by event_last_released_at
        - Frontend::Conference.recent(3).each do |conference|
          %li.conference
            %a{href: conference_path(acronym: conference.acronym)}
              = conference.display_name

            - recent_days = 30
            - recent_events_count=conference.events.newer(Date.today - 30).count

            - if recent_events_count > 0
              %span.tagline{title: "during the last #{recent_days} days"}
                #{recent_events_count} videos recently published

            %ul
              / top 3 events, ordered by release_date
              / not reusing 'events newer then 30 days' here because there may be 0 of them
              - conference.events.recent(3).each do |event|
                %li.event
                  %a{href: event_path(slug: event.slug)}
                    .event-preview
                      %img.video-thumbnail{src: h(event.thumb_url), alt: h(event.display_name)}
                      / FIXME: thumbnail w/ duration in partitial, fix css & list

                    %strong= event.display_name
                    - if event.subtitle
                      %span.subtitle
                        = event.subtitle

                    %span.date= event.display_date

            %a{href: conference_path(acronym: conference.acronym)}
              Show other videos from #{conference.display_name}




  %h1 News

  - @news.each do |news|
    %article.news-item
      %h2
        %span.date= news.date_formatted
        = news.title
      != news.body
