- content_for :title do
  home

- content_for :body_class do
  page-start

= render 'frontend/shared/promoted'

.container-fluid
  .row
    / Searchbox
    .col-xs-12.col-sm-10.col-sm-push-1.col-md-8.col-md-push-2
      %form.search{role: 'search', action: '/search/', method: 'get'}
        .form-group.has-addon
          .input-group
            %i.input-group-addon.icon-search
            %input.form-control{type: 'search', name: 'q', placeholder: 'Search'}

        %p.tagline
          #{number_with_delimiter(@recordings_count, delimiter: ".")} files in
          #{number_with_delimiter(@events_count, delimiter: ".")} talks at
          #{number_with_delimiter(@conferences_count, delimiter: ".")} conferences

    / Buttons
    .col-xs-12.col-sm-8.col-sm-push-2
      .browse-button-bar
        %a.btn.btn-secondary.btn-lg{role: 'button', href: '#tbd'}
          %span.icon.icon-tags
          Popular

        %a.btn.btn-primary.btn-lg{role: 'button', href: browse_start_path}
          %span.icon.icon-th
          All Events

        %a.btn.btn-secondary.btn-lg{role: 'button', href: '#tbd'}
          %span.icon.icon-rss
          Feeds

    .col-xs-12.recently
      .headline
        %h2 Recently published
        %a{href: recent_path}
          More recent videos

      .row.conferences
        -# top 3 conferences, ordered by updated_at (also triggered by event change)
        -# FIXME: should be ordered by event_last_released_at
        - Frontend::Conference.recent(3).each do |conference|
          - cache(conference) do
            .col-md-4.conference
              %h3
                %a{href: conference_path(acronym: conference.acronym)}
                  = conference.title

              - recent_days = 30
              - recent_events_count=conference.events.newer(Date.today - 30).count

              - if recent_events_count > 0
                %span.tagline{title: "during the last #{recent_days} days"}
                  #{recent_events_count} videos recently published

              %ul.list-unstyled
                -# top 3 events, ordered by release_date
                -# not reusing 'events newer then 30 days' here because there may be 0 of them
                -# FIXME: use recent_events when conference ordering is fixed
                - conference.events.recent(3).each do |event|
                  - cache(event) do
                    %li.event
                      .event-preview
                        = render partial: 'frontend/shared/event_thumb', locals: { event: event }

                      %a{href: event_path(slug: event.slug)}
                        = event.title
                      .date
                        %span.icon.icon-calendar-o{title: display_date_title(event)}
                        = event.display_date


              %a.more{href: conference_path(acronym: conference.acronym)}
                Show more videos from #{conference.display_name}


  .row
    - if @news.present?
      .col-sm-6
        %h2 News
        %article.news-item
          %span.date.pull-right= @news.date_formatted
          %h3= @news.title
          != @news.body

    %div{class: @news.present? ? 'col-sm-6' : 'col-sm-12'}
      %h2 About
      =render 'frontend/shared/short_about'
