- content_for :title do
  home

- content_for :body_class do
  page-start

= render 'frontend/shared/promoted'

.container-fluid
  .row
    .col-xs-12.col-sm-10.col-sm-push-1.col-md-8.col-md-push-2
      %form.search{role: 'search', action: '/search/', method: 'get'}
        .form-group.has-addon
          .input-group
            %i.input-group-addon.icon-search
            %input.form-control{type: 'search', placeholder: 'Username', name: 'q', placeholder: 'Search'}

        %p.tagline
          #{number_with_delimiter(@events_count, delimiter: ".")} videos in
          #{number_with_delimiter(@conferences_count, delimiter: ".")} events and conferences

    .col-xs-12.col-sm-8.col-sm-push-2
      .browse-button-bar
        %a.btn.btn-secondary.btn-lg{role: 'button', href: '#tbd'}
          %span.icon.icon-tags
          Popular

        %a.btn.btn-primary.btn-lg{role: 'button', href: browse_start_path}
          %span.icon.icon-th
          All Events

        %a.btn.btn-secondary.btn-lg{role: 'button', href: '#tbd'}
          %span.icon.icon-rss
          Feeds


  %h1 News

  - @news.each do |news|
    %article.news-item
      %h2
        %span.date= news.date_formatted
        = news.title
      != news.body
