- content_for :title do
  = @event.title

- content_for :head do
  = render 'frontend/shared/folder_feeds'
  %link{href: '/assets/css/mediaelementplayer.min.css', type: 'text/css', rel: 'stylesheet'}
  != "<link href='#{oembed_url(@item.identifier)}' rel='alternate' title='media.ccc.de oembed profile' type='application/json+oembed'>"

%script(src='/assets/js/jquery.min.js')

%h1
  =  @event.title
- if @event.subtitle
  %h2
    = @event.subtitle

%p.persons
  %span.fa{class: @event.persons_icon}
    - @event.persons.to_enum.with_index(1).each do |speaker, index|
      - if (@event.persons.count - 1) == index
        %a{href: '/search/?q=' + h(speaker)}= speaker
        and
      - elsif @event.persons.count == index
        %a{href: '/search/?q=' + h(speaker)}= speaker
      - else
        %a{href: '/search/?q=' + h(speaker)}= speaker
        \,


%ul.nav.nav-tabs.nav-justified{role: 'tablist', 'data-tabs' => 'tabs'}
  - if @video_recordings.present?
    %li
      %a{href: '#video', role: 'tab', 'data-toggle' => 'tab'} Video
  - if @audio_recordings.present?
    %li
      %a{href: '#audio', role: 'tab', 'data-toggle' => 'tab'} Audio
  %li
    %a{href: download_show_event_url(@event), 'data-target' => '#download', role: 'tab', 'data-toggle' => 'tab'} Download

  %li
    %a{href: '#embedshare', role: 'tab', 'data-toggle' => 'tab'} Share

.tab-content
  - if @video_recordings.present?
    #video.tab-pane.active
      = render 'frontend/shared/videoplayer'

  - if @audio_recordings.present?
    #audio.tab-pane
      %audio.audio{controls: 'controls'}
        - @audio_recordings.each do |recording|
          %source{type: recording.display_mime_type, src: h(recording.url)}

  #download.tab-pane
    = render 'frontend/shared/download'

  #embedshare.tab-pane
    = render 'frontend/shared/embedshare'

%ul.metadata
  %li
    %span.fa.fa-clock-o
    = recording_length(@event.recordings.downloaded)
  %li
    %span.fa.fa-calendar-o
    = date(@event)
  %li
    %span.fa.fa-eye
    = @event.view_count
  %li
    %span.fa.fa-external-link
    %a{href: @event.link}
      = parse_url_host(@event)

- if @event.description.present?
  %h3 About
  %p.description
    = @event.description

- if @event.tags.present?
  %h3 Tags
  - @event.tags.each do |tag|
    != link_for(tag)

%script(src='/assets/js/bootstrap.min.js')
%script(src='/assets/js/mediaelement-and-player.min.js')

= render 'frontend/shared/videoplayer_js'

:javascript

$('audio').mediaelementplayer();

// activate tab via hash and default to video
function setTabToHash() {
  var hash = window.location.hash.split('&')[0]; // split video-stamp of the hash
  var activeTab = $('.nav-tabs a[href=' + hash + '], .nav-tabs a[data-target=' + hash + ']')
    .tab('show');

  if (activeTab.length === 0) {
    var hash = '#video';
    if(window.history && window.history.replaceState) {
      // set new hash without adding an entry into the browser history
      window.history.replaceState(null, "", hash);
    }
    else {
      // classic fallback
      window.location.hash = hash;
    }
  }
}
setTabToHash();

// change hash on tab change
$('.nav-tabs a').on('shown.bs.tab', function (e) {
  window.location.hash = e.target.hash;
});

// adjust tabs when hash changes
window.onhashchange = setTabToHash;
