- content_for :title do
  = @event.title

- content_for :body_class do
  page-show

- content_for :head do
  %meta{property: 'og:title', content: @event.title}
  %meta{property: 'og:type', content: 'video.other'}
  %meta{property: 'og:url', content: event_path(slug: @event.slug)}
  %meta{property: 'og:image', content: @event.poster_url}
  %meta{property: 'og:video', content: opengraph_video(@event.videos_sorted_by_language)}
  %meta{property: 'og:description', content: @event.short_description}
  = render partial: 'frontend/shared/folder_feeds', locals: { conference: @conference }
  != "<link href='#{oembed_api_event_url(@event)}' rel='alternate' title='media.ccc.de oembed profile' type='application/json+oembed'>"

- if current_admin_user
  - content_for :navbar do
    .nav.navbar-form.navbar-right.button-wrapper
      %a.form-control.btn.btn-default{href: edit_admin_event_path(@event)}
        %span.icon.icon-edit

- content_for :description do
  %meta{name: 'description', content: @event.short_description}

- if @event.recordings.video.present?
  - content_for :javascript do
    = javascript_include_tag 'mediaelement-player'

- elsif @event.relive_present?
  - content_for :javascript do
    = javascript_include_tag 'relive-player'

- cache([@event.conference, @event]) do
  .container-fluid
    %h1
      = @event.title
    - unless @event.subtitle.nil? || @event.subtitle.empty?
      %h2
        = @event.subtitle

    %p.persons
      = render partial: 'frontend/shared/event_persons', locals: { persons: @event.persons }

    - if @event.recordings.video.present?
      .player.video
        .kiosk
        = render partial: 'frontend/shared/player_video', locals: video_player_ivars

      Playlists:
      = link_to 'Conference', playlist_conference_path(slug: @event.slug)
      - if @conference.audio_recordings?
        \/
        = link_to 'Audio', audio_playlist_conference_path(slug: @conference.events.first.slug), method: :get
      - if @event.metadata['related'].present?
        \/
        = link_to 'Related', playlist_related_path(slug: @event.slug)

    - elsif @event.relive_present?
      .player.video
        .kiosk
        = render partial: 'frontend/shared/player_relive', locals: video_player_ivars

    - else
      No content found (yet?).

    %ul.metadata
      %li
        %span.icon.icon-clock-o
        = duration_in_minutes(@event.duration)
      %li
        %span.icon.icon-calendar-o{title: display_release_date_title(@event)}
        = @event.display_date
      - if ! @event.released_on_event_day?
        %li
          %span.icon.icon-upload{title: 'release date'}
          = @event.release_date
      %li
        %span.icon.icon-eye
        = @event.view_count
      - if @event.link.present?
        %li
          %span.icon.icon-external-link
          %a{href: @event.link}
            = parse_url_host(@event)

    - if @event.description.present?
      /%h3 About
      %p.description
        = simple_format @event.description

    - if @event.metadata['related'].present?
      %h3 Related
      = render partial: 'frontend/shared/related', locals: { events: Frontend::Event.find(@event.related_event_ids(10)) }

    %h3 Download
    .download
      = render partial: 'frontend/shared/download', locals: { conference: @conference, event: @event }

    /%h3 Embed/Share
    .share
      = render partial: 'frontend/shared/embedshare', locals: { event: @event }

    - if @event.tags.present?
      %h3 Tags
      .tags
        - @event.tags.each do |tag|
          != link_for(tag)
