- title = @searchquery.present? ? "Search for #{@searchtype} \"#{@searchquery}\" returned #{@number_of_results} result#{'s' if @number_of_results > 1}" : "Search"

- content_for :title do
  = title

- content_for :body_class do
  page-list

%main.container-fluid
  %h1= title

  .row
    .col-md-6.col-xs-6.text-left
      = link_to_prev_page @events, 'previous page', class: 'btn btn-primary'
    .col-md-6.col-xs-6.text-right
      %button.btn.btn-default.dropdown-toggle{ type: "button", id: "dropdown-menu-sort-options", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "true" }
        Sort by
        %span.caret

      %ul.dropdown-menu.dropdown-menu-right{ "aria-labelledby" => "dropdown-menu-sort-options" }
        %li
          = link_to "Newest first", request.params.merge(sort: 'desc')
        %li
          = link_to "Oldest first", request.params.merge(sort: 'asc')
        %li
          = link_to "Relevance", request.params.merge(sort: 'none')
      = link_to_next_page @events, 'next page', class: 'btn btn-primary'

  .row
  - if @events.present?
    .event-previews
      - @events.each do |event|
        = render partial: 'frontend/shared/event_with_conference', locals: { event: event }

    .row
      .col-md-6.col-xs-6.text-left
        = link_to_prev_page @events, 'previous page', class: 'btn btn-primary'
      .col-md-6.col-xs-6.text-right
        = link_to_next_page @events, 'next page', class: 'btn btn-primary'
  - else
    %p
      The Search for "#{@searchquery}" did not return any results.
    %p
      Go take a look at our
      %a{href: recent_path}
        Recent Videos
      or watch some of our most
      %a{href: popular_path}
        popular Videos.
