!!! 5
%html{lang: 'en'}
  %head
    = render 'frontend/shared/header'
    %title
      C3TV -
      = @event.try(:title) || @conference.try(:title) || @location || yield(:title)

    = yield :head

  %body
    = render 'frontend/shared/navbar'

    = yield

    = render 'frontend/shared/footer'
