!!! 5
%html{lang: 'en'}
  %head
    = render 'frontend/shared/header'
    %title
      C3TV -
      - if content_for?(:title)
        = yield :title
      - else
        = @event.try(:title) || @conference.try(:title)

    = yield :head

  %body
    = render partial: 'frontend/shared/navbar'

    = yield

    = render 'frontend/shared/footer'
