!!! 5
%html{lang: 'en', style: 'height: 100%;'}
  %head
    %title
      = t('custom.title')
      = h @event.title
    = javascript_include_tag 'oembed-player'
    = stylesheet_link_tag 'embed'

  %body{style: 'height: 100%; overflow: hidden;'}
    .player.video
      = render partial: 'frontend/shared/player_video', locals: { height: '450', width: '800', event: @event }
