!!! 5
%html{lang: 'en'}
  %head
    %title
      C3TV -
      = h @event.title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'frontend'

  %body
    %div.container-fluid
      = render partial: 'frontend/shared/videoplayer', locals: { video_recordings: @video_recordings, poster_url: @event.poster_url }

    = render partial: 'frontend/shared/videoplayer_js', locals: { event: @event }
