!!! 5
%html{lang: 'en'}
  %head
    = render 'frontend/shared/header'
    %title
      C3TV -
      = yield :title

  %body
    = render 'frontend/shared/navbar'

    %div.container-fluid
      %h1 Events for tag "#{@tag}"

      .event-previews-tags
        - if @events.present?
          - @events.each do |event|
            .event-preview
              %a{href: show_event_url(event)}
                %img.conference-logo{src: h(event.conference.logo_url), alt: h(event.conference.title)}
              .caption
                = render 'frontend/shared/event_metadata', localsa: { event: event }
                %h3
                  %a{href: h(event.url)}
                    = h event.title

      = yield

    = render 'frontend/shared/footer'
