- content_for :title do
  Popular Events

- content_for :body_class do
  page-list

.container-fluid
  %h1 Popular Events
  -if @year === 0
    %b All
  - else
    %a{:href => popular_path} All
  - for year in (@firstyear..Time.new.year).to_a.reverse
    %span -
    - if @year != year
      %a{:href => popular_path + "/#{year}"} #{year}
    - else
      %b #{year}
  - if @events.present?
    .event-previews
      - @events.each do |event|
        = render partial: 'frontend/shared/event_with_conference', locals: { event: event }
  %a{:href => "?page=" + "#{@page + 1}" } next
