- content_for :head do
  = render 'frontend/shared/folder_feeds'

.container-fluid
  .events-header
    %img{src: @conference.logo_url, alt: 'conference logo'}

    %h1= @conference.acronym.gsub(/[\-_]/,' ')
    - if @conference.title and not @conference.acronym == @conference.title
      %h2= @conference.title

    #sorting.btn-group.btn-group-sm.btn-group-justified
      - %w{name duration date}.each do |sorting|
        - if @sorting == sorting
          %a.btn.btn-primary.active{ href: conference_url(acronym: @conference.acronym, sort: sorting) }= sorting
        - else
          %a.btn.btn-primary{ href: conference_url(acronym: @conference.acronym, sort: sorting) }= sorting

  - if @events.present?
    .event-previews
      - @events.each do |event|
        - cache(event) do
          .event-preview
            %a{href: event_url(slug: event.slug)}
              %img.video-thumbnail{src: h(event.thumb_url), alt: h(event.title)}
            .caption
              = render partial: 'frontend/shared/event_metadata', locals: { event: event }
