- content_for :head do
  = render 'frontend/shared/folder_feeds'

.events-header
  %img{src: @conference.logo_url, alt: 'conference logo'}

  %h1= @conference.acronym.gsub(/[\-_]/,' ')
  - if @conference.title and not @conference.acronym == @conference.title
    %h2= @conference.title

  #sorting.btn-group.btn-group-sm.btn-group-justified
    - %w{name duration date}.each do |sorting|
      - if @sorting == sorting
        %a.btn.btn-primary.active{ href: browse_url(slug: @conference.slug, sort: sorting) }= sorting
      - else
        %a.btn.btn-primary{ href: browse_url(slug: @conference.slug, sort: sorting) }= sorting

- if @events.present?
  .event-previews
    -# Build event overview
    - @events.each do |event|
      .event-preview
        %a{href: show_event_url(event)}
          %img.video-thumbnail{src: h(event.thumb_url), alt: h(event.title)}
        .caption
          = render partial: 'frontend/shared/event_metadata', locals: { event: event }
