!!! 5
%html{lang: 'en'}
  %head
    = render '/partials/header'
    %title
      C3TV -
      = h @item[:title]
    = render '/partials/folder-feeds'
  %body
    = render '/partials/navbar'

    .container-fluid

      .events-header
        %img{src: @item[:conference].logo_url, alt: 'conference logo'}

        %h1= @item[:conference].acronym.gsub(/[\-_]/,' ')
        - if @item[:conference].title and not item[:conference].acronym == @item[:conference].title
          %h2= h @item[:conference].title

        #sorting.btn-group.btn-group-sm.btn-group-justified
          - %w{name duration date}.each do |sorting|
            - if @item[:sorting] == sorting
              %a.btn.btn-primary.active{ href: "/browse/#{@item[:conference].webgen_location}/#{sorting}/" }= sorting
            - else
              %a.btn.btn-primary{ href: "/browse/#{@item[:conference].webgen_location}/#{sorting}/" }= sorting

      - if @item[:events].present?
        .event-previews
          -# Build event overview
          - @item[:events].each do |event|
            - recordings = event.recordings.downloaded
            %a.event-preview{href: h(event.url)}
              %img.video-thumbnail{src: h(event.thumb_url), alt: h(event.title)}
              .caption
                %ul.metadata
                  %li
                    %span.fa.fa-clock-o
                    = recording_length(recordings)
                  %li
                    %span.fa.fa-calendar-o
                    = date(event)
                  %li.persons
                    %span.fa{class: event.persons_icon}
                    = event.persons_text
                %h3= h event.title

      = yield

    = render '/partials/footer'
