!!! 5
%html{lang: 'en'}
  %head
    = render '/partials/header'
    %title
      C3TV -
      = h @item[:title]
  %body
    = render '/partials/navbar'

    .container-fluid
      %h1 Browse by category

      - if @item[:folders].present?
        - @item[:folders].each do |folder|
          - if folder.conference
            %a.thumbnail.conference{href: h(folder.url)}
              .header
                %span.fa.fa-video-camera
                = Event.recorded_at(folder.conference).to_a.count
              %img{src: folder.conference.logo_url, alt: 'conference logo'}
              .caption
                = folder.conference.title
          - else
            %a.thumbnail.folder{href: h(folder.url)}
              .header
                %span.fa.fa-th
              .fa.fa-folder
              .caption
                = folder.name

      = yield

    = render '/partials/footer'
